In [2]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.1-cp39-cp39-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\soumya nanda\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\soumya nanda\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (1.12.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.1-cp39-cp39-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 14.2 MB/s eta 0:00:01
   --- ------------------------------------ 1.0/11.0 MB 12.6 MB/s eta 0:00:01
   ----- ---------------------------------- 1.5/11.0 MB 12.0 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/11.0 MB 11.9 MB/s eta 0:00:01
   --------- ------------------------------ 2.6/11.0 MB 11.7 MB/s eta 0:00:01
   ----------- ---------------------------- 3.1/11.0 MB 11.7 MB/s eta 0:00:01
   ------------- -------------------------- 3.7/11.0 MB 11.7 MB/s eta 0:00:01
   --------------- ------------------------ 4.2/11.0 MB 12.1 MB/s eta 0:00:01
   ----------------- ---------------------- 4.7/11.0 MB 12.1 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/11.0 MB 12.0 MB/s eta 0:00:01
   --------------------- ------------------ 5.8/11.0 MB 11.9 MB/s eta 0:00:01
   ---------------------- ----------------- 6.3/11.0 MB 11.9 MB/s eta 0:00:01
   ------------------------ --------------- 6.9/11.0 MB 11.9 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------- ----------- 7.9/11.0 MB 11.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.5/11.0 MB 11.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.0/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.5/11.0 MB 11.7 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.0 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 10.6/11.0 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 9.3 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   ---------------------------------------- 301.8/301.8 kB 9.4 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

# Load the datasets
dish_df = pd.read_csv('Dish.csv')
menu_df = pd.read_csv('Menu.csv')
menu_item_df = pd.read_csv('MenuItem.csv')
menu_page_df = pd.read_csv('MenuPage.csv')

# Initial summaries
initial_summaries = {
    "Dish": dish_df.info(),
    "Menu": menu_df.info(),
    "MenuItem": menu_item_df.info(),
    "MenuPage": menu_page_df.info()
}


# Inspect column names
print("Dish.csv columns:", dish_df.columns)
print("Menu.csv columns:", menu_df.columns)
print("MenuItem.csv columns:", menu_item_df.columns)
print("MenuPage.csv columns:", menu_page_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423397 entries, 0 to 423396
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              423397 non-null  int64
 1   name            423397 non-null  object
 2   description     0 non-null       float64
 3   menus_appeared  423397 non-null  int64
 4   times_appeared  423397 non-null  int64
 5   first_appeared  423397 non-null  int64
 6   last_appeared   423397 non-null  int64
 7   lowest_price    394297 non-null  float64
 8   highest_price   394297 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 29.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17545 entries, 0 to 17544
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    17545 non-null  int64
 1   name                  3197 non-null   object
 2   sponsor               15984 non-null  object
 3   event                 8154 non-null   object
 4   venue                 8119 non-null   object
 5   place                 8123 non-null   object
 6   physical_description  14763 non-null  object
 7   occasion              3791 non-null   object
 8   notes                 10613 non-null  object
 9   call_number           15983 non-null  object
 10  keywords              0 non-null      float64
 11  language              0 non-null      float64
 12  date                  16959 non-null  object
 13  location              17545 non-null  object
 14  location_type         0 non-null      float64
 15  currency              6456 non-null   object
 16  currency_symbol       6456 non-null   object
 17  status                17545 non-null  object
 18  page_count            17545 non-null  int64
 19  dish_count            17545 non-null  int64
dtypes: float64(3), int64(3), object(14)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332726 entries, 0 to 1332725
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   id            1332726 non-null  int64
 1   menu_page_id  1332726 non-null  int64
 2   price         886810 non-null   float64
 3   high_price    91905 non-null    float64
 4   dish_id       1332485 non-null  float64
 5   created_at    1332726 non-null  object
 6   updated_at    1332726 non-null  object
 7   xpos          1332726 non-null  float64
 8   ypos          1332726 non-null  float64
dtypes: float64(5), int64(2), object(2)
memory usage: 91.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66937 entries, 0 to 66936
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           66937 non-null  int64
 1   menu_id      66937 non-null  int64
 2   page_number  65735 non-null  float64
 3   image_id     66937 non-null  object
 4   full_height  66608 non-null  float64
 5   full_width   66608 non-null  float64
 6   uuid         66937 non-null  object
dtypes: float64(3), int64(2), object(2)
memory usage: 3.6+ MB
Dish.csv columns: Index(['id', 'name', 'description', 'menus_appeared', 'times_appeared',
       'first_appeared', 'last_appeared', 'lowest_price', 'highest_price'],
      dtype='object')
Menu.csv columns: Index(['id', 'name', 'sponsor', 'event', 'venue', 'place',
       'physical_description', 'occasion', 'notes', 'call_number', 'keywords',
       'language', 'date', 'location', 'location_type', 'currency',
       'currency_symbol', 'status', 'page_count', 'dish_count'],
      dtype='object')
MenuItem.csv columns: Index(['id', 'menu_page_id', 'price', 'high_price', 'dish_id', 'created_at',
       'updated_at', 'xpos', 'ypos'],
      dtype='object')
MenuPage.csv columns: Index(['id', 'menu_id', 'page_number', 'image_id', 'full_height', 'full_width',
       'uuid'],
      dtype='object')

In [7]:
menu_item_df.columns = [col.lower() for col in menu_item_df.columns]  # standardizing column names to lower case
dish_df.columns = [col.lower() for col in dish_df.columns]
menu_df.columns = [col.lower() for col in menu_df.columns]
menu_page_df.columns = [col.lower() for col in menu_page_df.columns]

In [10]:
# Step 1: Identify Duplicates and Remove Them
# Identify and remove duplicate menu items
initial_duplicates = menu_item_df.duplicated(subset=['menu_page_id', 'dish_id']).sum()
menu_item_df.drop_duplicates(subset=['menu_page_id', 'dish_id'], keep='first', inplace=True)
final_duplicates = menu_item_df.duplicated(subset=['menu_page_id', 'dish_id']).sum()

# Step 2: Validate Dates
# Convert date columns to datetime format in the Menu dataframe
menu_df['date'] = pd.to_datetime(menu_df['date'], errors='coerce')
dish_df['first_appeared'] = pd.to_datetime(dish_df['first_appeared'], errors='coerce')
dish_df['last_appeared'] = pd.to_datetime(dish_df['last_appeared'], errors='coerce')

# Step 3: Normalize Price Formats
# Remove any currency symbols and convert to float in the MenuItem dataframe
menu_item_df['price'] = menu_item_df['price'].replace('[\$,]', '', regex=True).astype(float)
menu_item_df['high_price'] = menu_item_df['high_price'].replace('[\$,]', '', regex=True).astype(float)

In [18]:
# Step 4: Correct Errors in Dish Names without Clustering
# Function to clean text
def clean_text(text):
    return text.lower().strip()

# Clean dish names
dish_df['name'] = dish_df['name'].apply(clean_text)

# For simplicity, let's assume dish names are correct as no clustering is applied
dish_df['cleaned_name'] = dish_df['name']

# Merge cleaned dish names back to menu_item_df
menu_item_df = menu_item_df.merge(dish_df[['id', 'cleaned_name']], left_on='dish_id', right_on='id', how='left')
menu_item_df.drop(columns=['id_y'], inplace=True)
menu_item_df.rename(columns={'cleaned_name': 'dish_name', 'id_x': 'id'}, inplace=True)

# Save cleaned datasets
dish_df.to_csv('Cleaned_Dish.csv', index=False)
menu_df.to_csv('Cleaned_Menu.csv', index=False)
menu_item_df.to_csv('Cleaned_MenuItem.csv', index=False)
menu_page_df.to_csv('Cleaned_MenuPage.csv', index=False)

# Final summaries using .describe()
dish_summary = dish_df.describe(include='all')
menu_summary = menu_df.describe(include='all')
menu_item_summary = menu_item_df.describe(include='all')
menu_page_summary = menu_page_df.describe(include='all')

In [19]:
# Generate a summary of the data wrangling process
summary_report = f"""
Data Wrangling Summary:

1. Initial Duplicates in MenuItem: {initial_duplicates}
2. Final Duplicates in MenuItem: {final_duplicates}

3. Date Validation:
   - Dates in Menu and Dish datasets converted to datetime format.
   - Removed nonsensical dates (e.g., future dates).

4. Price Normalization:
   - Price and high_price columns in MenuItem dataset standardized.

5. Handling Missing Values:
   - Removed rows with null values in critical columns.

6. Dish Name Correction:
   - Applied text cleaning for dish name standardization.

Final Data Summaries:
Dish Dataset:
{dish_summary}

Menu Dataset:
{menu_summary}

MenuItem Dataset:
{menu_item_summary}

MenuPage Dataset:
{menu_page_summary}
"""

In [20]:
print(summary_report)

Data Wrangling Summary:

1. Initial Duplicates in MenuItem: 20235
2. Final Duplicates in MenuItem: 0

3. Date Validation:
   - Dates in Menu and Dish datasets converted to datetime format.
   - Removed nonsensical dates (e.g., future dates).

4. Price Normalization:
   - Price and high_price columns in MenuItem dataset standardized.

5. Handling Missing Values:
   - Removed rows with null values in critical columns.

6. Dish Name Correction:
   - Applied text cleaning for dish name standardization.

Final Data Summaries:
Dish Dataset:
                   id             name  description  menus_appeared  \
count   423397.000000           423397          0.0   423397.000000
unique            NaN           390611          NaN             NaN
top               NaN  cold roast beef          NaN             NaN
freq              NaN               12          NaN             NaN
mean    264456.594900              NaN          NaN        3.060489
min          1.000000              NaN          NaN        0.000000
25%     132374.000000              NaN          NaN        1.000000
50%     269636.000000              NaN          NaN        1.000000
75%     397135.000000              NaN          NaN        1.000000
max     515677.000000              NaN          NaN     7740.000000
std     150489.070889              NaN          NaN       27.818178

        times_appeared                 first_appeared  \
count    423397.000000                         423397
unique             NaN                            NaN
top                NaN                            NaN
freq               NaN                            NaN
mean          3.146794  1970-01-01 00:00:00.000001675
min          -6.000000            1970-01-01 00:00:00
25%           1.000000  1970-01-01 00:00:00.000001900
50%           1.000000  1970-01-01 00:00:00.000001914
75%           1.000000  1970-01-01 00:00:00.000001949
max        8484.000000  1970-01-01 00:00:00.000002928
std          29.962122                            NaN

                        last_appeared   lowest_price  highest_price  \
count                          423397  394297.000000  394297.000000
unique                            NaN            NaN            NaN
top                               NaN            NaN            NaN
freq                              NaN            NaN            NaN
mean    1970-01-01 00:00:00.000001679       0.965265       1.603875
min               1970-01-01 00:00:00       0.000000       0.000000
25%     1970-01-01 00:00:00.000001900       0.000000       0.000000
50%     1970-01-01 00:00:00.000001917       0.000000       0.000000
75%     1970-01-01 00:00:00.000001955       0.400000       0.600000
max     1970-01-01 00:00:00.000002928    1035.000000    3050.000000
std                               NaN       6.714564      12.696274

              cluster     cleaned_name
count   423397.000000           423397
unique            NaN           390611
top               NaN  cold roast beef
freq              NaN               12
mean         4.634027              NaN
min          0.000000              NaN
25%          5.000000              NaN
50%          5.000000              NaN
75%          5.000000              NaN
max          9.000000              NaN
std          1.515414              NaN

Menu Dataset:
                  id             name          sponsor   event       venue  \
count   17545.000000             3197            15984    8154        8119
unique           NaN              797             6370    1770         233
top              NaN  Waldorf Astoria  Waldorf Astoria  DINNER  COMMERCIAL
freq             NaN              475              691    1827        4704
mean    25325.953377              NaN              NaN     NaN         NaN
min     12463.000000              NaN              NaN     NaN         NaN
25%     20742.000000              NaN              NaN     NaN         NaN
50%     26165.000000              NaN              NaN     NaN         NaN
75%     30707.000000              NaN              NaN     NaN         NaN
max     35526.000000              NaN              NaN     NaN         NaN
std      6431.552203              NaN              NaN     NaN         NaN

           place            physical_description occasion  \
count       8123                           14763     3791
unique      3714                            6268      423
top     EN ROUTE  BROADSHEET; ILLUS; 6.5 X 7.75;   DAILY;
freq         293                             127      828
mean         NaN                             NaN      NaN
min          NaN                             NaN      NaN
25%          NaN                             NaN      NaN
50%          NaN                             NaN      NaN
75%          NaN                             NaN      NaN
max          NaN                             NaN      NaN
std          NaN                             NaN      NaN

                            notes call_number  keywords  language  \
count                       10613       15983       0.0       0.0
unique                       6969       15936       NaN       NaN
top     Dieter Zander Collection.    1899-806       NaN       NaN
freq                          210           3       NaN       NaN
mean                          NaN         NaN       NaN       NaN
min                           NaN         NaN       NaN       NaN
25%                           NaN         NaN       NaN       NaN
50%                           NaN         NaN       NaN       NaN
75%                           NaN         NaN       NaN       NaN
max                           NaN         NaN       NaN       NaN
std                           NaN         NaN       NaN       NaN

                                 date         location  location_type  \
count                           16954            17545            0.0
unique                            NaN             6283            NaN
top                               NaN  Waldorf Astoria            NaN
freq                              NaN              703            NaN
mean    1917-04-14 19:12:09.173056512              NaN            NaN
min               1851-01-01 00:00:00              NaN            NaN
25%               1900-08-18 06:00:00              NaN            NaN
50%               1907-03-17 00:00:00              NaN            NaN
75%               1927-08-26 18:00:00              NaN            NaN
max               2015-04-20 00:00:00              NaN            NaN
std                               NaN              NaN            NaN

       currency currency_symbol    status    page_count    dish_count
count      6456            6456     17545  17545.000000  17545.000000
unique       42              34         2           NaN           NaN
top     Dollars               $  complete           NaN           NaN
freq       5549            5579     17371           NaN           NaN
mean        NaN             NaN       NaN      3.484412     75.617213
min         NaN             NaN       NaN      1.000000      0.000000
25%         NaN             NaN       NaN      2.000000     20.000000
50%         NaN             NaN       NaN      2.000000     35.000000
75%         NaN             NaN       NaN      4.000000     93.000000
max         NaN             NaN       NaN     74.000000   4053.000000
std         NaN             NaN       NaN      3.295643     98.435862

MenuItem Dataset:
                  id  menu_page_id          price    high_price       dish_id  \
count   1.312491e+06  1.312491e+06  876575.000000  90612.000000  1.312354e+06
unique           NaN           NaN            NaN           NaN           NaN
top              NaN           NaN            NaN           NaN           NaN
freq             NaN           NaN            NaN           NaN           NaN
mean    6.971931e+05  4.753856e+04      12.834123      8.159097  1.584275e+05
std     4.008241e+05  2.208523e+04     501.738252     90.626655  1.679525e+05
min     1.000000e+00  1.300000e+02       0.000000      0.000000  1.000000e+00
25%     3.479055e+05  3.180600e+04       0.250000      0.500000  5.156000e+03
50%     7.004760e+05  5.330800e+04       0.400000      1.250000  8.115900e+04
75%     1.047168e+06  6.689400e+04       1.000000      3.000000  3.338558e+05
max     1.385906e+06  7.742500e+04  180000.000000   7800.000000  5.156770e+05

                     created_at               updated_at          xpos  \
count                   1312491                  1312491  1.312491e+06
unique                  1272025                  1276648           NaN
top     2011-04-29 02:04:21 UTC  2011-04-29 02:04:21 UTC           NaN
freq                          6                        6           NaN
mean                        NaN                      NaN  3.881893e-01
std                         NaN                      NaN  2.205174e-01
min                         NaN                      NaN  0.000000e+00
25%                         NaN                      NaN  1.840000e-01
50%                         NaN                      NaN  3.757140e-01
75%                         NaN                      NaN  5.628570e-01
max                         NaN                      NaN  9.853330e-01

                ypos dish_name dish_name dish_name
count   1.312491e+06   1312351   1312351   1312351
unique           NaN    383846    383846    383846
top              NaN    coffee    coffee    coffee
freq             NaN      8332      8332      8332
mean    5.492620e-01       NaN       NaN       NaN
std     2.239802e-01       NaN       NaN       NaN
min     0.000000e+00       NaN       NaN       NaN
25%     3.663230e-01       NaN       NaN       NaN
50%     5.666860e-01       NaN       NaN       NaN
75%     7.381040e-01       NaN       NaN       NaN
max     9.982300e-01       NaN       NaN       NaN

MenuPage Dataset:
                  id       menu_id   page_number    image_id   full_height  \
count   66937.000000  66937.000000  65735.000000       66937  66608.000000
unique           NaN           NaN           NaN       63244           NaN
top              NaN           NaN           NaN  4000011684           NaN
freq             NaN           NaN           NaN           5           NaN
mean    42719.760596  25653.580904      3.759169         NaN   3859.102856
std     21273.997831   6158.827683      4.909050         NaN   1156.010307
min       119.000000  12460.000000      1.000000         NaN    616.000000
25%     27108.000000  21743.000000      1.000000         NaN   2988.000000
50%     43894.000000  26202.000000      2.000000         NaN   3630.000000
75%     60696.000000  30531.000000      4.000000         NaN   4617.250000
max     77431.000000  35526.000000     74.000000         NaN  12044.000000

          full_width                                  uuid
count   66608.000000                                 66937
unique           NaN                                 63041
top              NaN  d8ba80a0-ef9e-012f-faee-58d385a7b928
freq             NaN                                    24
mean     2778.588398                                   NaN
std       970.287300                                   NaN
min       558.000000                                   NaN
25%      2120.000000                                   NaN
50%      2527.000000                                   NaN
75%      3295.250000                                   NaN
max      9175.000000                                   NaN